//css comment on post
.hover-effect:hover {
    background-color: #f8f9fa !important;
    border-color: #0d6efd !important;
}

.hover-effect.success-hover:hover {
    border-color: #198754 !important;
}

.transition-icon {
    transition: transform 0.3s ease;
}

.btn-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.btn-link.success-focus:focus {
    box-shadow: 0 0 0 0.2rem rgba(25, 135, 84, 0.25);
}

.form-content {
    border: white;
}

.card-body {
    border: white;
}

.card-header {
    border-bottom: white;
}
